@import "../../default";

$bg:url("../../../assets/img/home/bg.jpg");
$gradient:linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.95));

#home {
  width: 100%;
  height: 100vh;
  padding: 0 1.5em;
  background: $gradient, $bg 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  box-shadow:inset 0 30px 50px 1px rgba(0, 0, 0, 0.5);
  @include flexBox(row, center, center);
  .hero {
    &-name {
      font-family: Nunito-Bolder;
      font-size: 1.6rem;
      color: #fff;
    }
    &-position {
      font-family: Nunito-Bolder;
      font-size: 2.7rem;
      color: #fff;
      &-highlight {
        color: #fff;
      }
    }
    &-btn {
      margin-right: 2em;
    }
    & > * {
      margin-bottom: 0.6em;
    }
  }
}
@media screen and(min-width:$tablet-size){
  #home{
    justify-content: flex-start;
    .hero{
      &-name{
        font-size: 2rem;
      }
      &-position{
        font-size: 3.5rem;
      }
    }
  }
}
@media screen and(min-width:950px){
  #home{
    .hero{
      &-name{
        font-size: 2.5rem;
      }
      &-position{
        font-size: 4rem;
      }
    }
  }
  
}

@media screen and(min-width:$desktop-size){
  #home{
    padding: 0 2.5em;
  }
}
