$primary-color:#0e153a;
$hover-opacity: lighten($primary-color, 15%);
$secondary-color:#F5F6F7;
$tertiary-color: #fff;
$border-line: $primary-color;
$transition: all 0.3s ease-in-out;
$para-1: #6f6f6f;
$para-2: #6f6f6f;
$card-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.1);
$desktop-size: 1000px;
$tablet-size: 768px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.btn {
  padding: 0.7em 1.3em;
  background-color: #fff;
  border: 2px solid $primary-color;
  color: $primary-color;
  font-family: Nunito-Bold;
  font-size: 1.05rem;
  cursor: pointer;
  &:hover {
    background-color: $primary-color;
    transition: $transition;
    color: #fff;
  }
}

.header-content {
  width: 100%;
}
.header-content-title {
  padding: 0.3em 0.6em;
  font-size: 1.7rem;
  border-left: 7px solid $border-line;
  background-color: $tertiary-color;
  margin-bottom: 2em;
  color: #222;
  font-family: Nunito-Bolder;
  box-shadow: $card-shadow;
}
.para {
  font-size: 17px;
  line-height: 1.9rem;
  color: $para-1;
}
.para-block {
  color: $para-2;
}
.block {
  background-color: $tertiary-color;
}
.highlight-content {
  color: $primary-color;
  font-weight: 600;
}

@mixin flexBox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@media screen and(min-width:$desktop-size) {
  .para {
    font-size: 17px;
  }
}
